body {
    font-family: sans-serif;
    margin: 0 auto;
    background-color: white;
}

header {
    height: 40px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;;
    padding-left: 10px;
    position: fixed;
    background-color: #101010;
}

.sidebar-header {
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #428bca;
    color: #fff;
}

.sort-header {
    color: #428bca;
}


.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    float: left;
    margin-top: 63px;
    background-color: #f5f5f5;
}

span {
    font-size: 19px;
}


a {
    /*color: white;*/
    text-decoration: none;
    color: #337ab7;
}

p {
    font-size: 17px;
}

#brand {
    color: white;
}

table {
    border: none;
    width: 95%;

}

#dl-img {
    max-width: 30px;
    max-height: 30px;
    /*padding-left: 20px;*/
}

#folder-img {
    max-width: 30px;
    max-height: 30px;
    /*padding-left: 20px;*/
}


#size-cell {
    padding-left: 
}

th {
    text-align: left;
    padding-right: 100px;
    padding: 15px;
    padding-bottom: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}


td {
    padding-left: 20px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
    text-align: left;
    font-size: 10pt;
}

.td-secondary {
    font-size: 12pt;
    padding: 12px;
}


.content {
    margin-left: 280px;
    padding-top: 50px;
}

h2 {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 35px;
}

.logo {
    width: 80px;
    height: 30px;
    float: right;
    padding-right: 30px;
    margin-top: -2px;
}

.manual-name {
    font-size: 18px;
}

.manuals-li {
    padding-bottom: 10px;
}


.sidebar-ul {
    list-style-type: none;

}

.sidebar-li {
    padding-bottom: 20px;
}

.li-label {
    color: #23527c;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 0px;
    padding-top: 5px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 600px;
    word-wrap: disabled;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: yellow;
}
