{% extends "base.html" %}

{% block title %}
  <title>About ESSD Portal </title>
{% endblock title %}

  {% block page %}

      <div class="content">
        <h2>Engineering Systems Support & Development Portal</h2>
          <p>The website primarily serves Navis sessions, among other content.<br/>
          Developed and maintained for <a href="http://www.enppi.com">Enppi</a> by: <a href="mailto:mohamedserag@enppi.com">Mohamed Serag</a>.<br/>
          Launched on: July 4th, 2016.<br/><br/>
          <h4>Powered by:</h4>
              &emsp;- <a href="http://flask.pocoo.org">Flask</a> (<a href="https://www.python.org">Python</a>  Web Framework 0.11.1).<br/>

          </p>
      </div>


  {% endblock page %}
