<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
    {% block title %}
    <title>ESSD Portal</title>
    {% endblock title %}

</head>
<body>
<header>
    <div>
        <a id="brand" href="{{ url_for('home') }}"><span>ESSD Portal</span></a>
        <a href="http://www.enppi.com"><img class="logo" src="../static/images/logo.png"></a>
    </div>
</header>

<div class="sidebar">
    <p class="sidebar-header">Links</p>
    <ul class="sidebar-ul">
        <li class="sidebar-li"><a class="li-label" href="{{ url_for('home') }}">Project Review Sessions</a></li>
        <li class="sidebar-li"><a class="li-label" href="{{ url_for('man_pd', system='pds') }}">PDS Manuals</a></li>
        <li class="sidebar-li"><a class="li-label" href="{{ url_for('man_pd', system='sp3d') }}">SP3D Manuals</a></li>
        <li class="sidebar-li"><a class="li-label" href="{{ url_for('contacts') }}">Contacts</a></li>
        <li class="sidebar-li"><a class="li-label" href="{{ url_for('network') }}">Network Locations</a></li>
        <li class="sidebar-li"><a class="li-label" href="{{ url_for('about') }}">About ESSD Portal</a></li>
    </ul>
</div>

{% block page %}
{% endblock page %}

</body>
</html>