{% extends "base.html" %}

{% block title %}
  <title>Contacts </title>
{% endblock title %}

{% block page %}
      <div class="content">
        <h2>SSD Team</h2>
          <ul>
              <li class="manuals-li"><a class="manual-name" href="mailto:mahmoudemad@enppi.com">Mahmoud Emad</a></li>
              <li class="manuals-li"><a class="manual-name" href="mailto:hishamnabeel@enppi.com">Hisham Nabeel</a></li>
              <li class="manuals-li"><a class="manual-name" href="mailto:sherif_moneim@enppi.com">Sherif Abdel Mon'em</a></li>
              <li class="manuals-li"><a class="manual-name" href="mailto:mohamadrefaie@enppi.com">Mohamed Refaie</a></li>
              <li class="manuals-li"><a class="manual-name" href="mailto:mohamednaseh@enppi.com">Mohamed Naseh</a></li>
              <li class="manuals-li"><a class="manual-name" href="mailto:mostafadarwish@enppi.com">Mostafa Darweesh</a></li>
              <li class="manuals-li"><a class="manual-name" href="mailto:t.abdelazeim@enppi.com">Tamer Abdel Azeem</a></li>
              <li class="manuals-li"><a class="manual-name" href="mailto:mohamedserag@enppi.com">Mohamed Serag</a></li>
              <li class="manuals-li"><a class="manual-name" href="mailto:ahmed.salah2@enppi.com">Ahmed Salah</a></li>

          </ul>
      </div>

{% endblock page %}