{% extends "base.html" %}

{% block title %}
  <title>Manuals </title>
{% endblock title %}

  {% block page %}
      <div class="content">
      <h2>{{ s.upper() }} Manuals</h2>
          <ul>
              {% for man in mans %}
                <li class="manuals-li"><a class="manual-name" href="{{ url_for('get_pdf', system=s, filename=man['name']) }}">{{ man['name_noext'] }}</a></li>
              {% endfor %}

          </ul>
      </div>
    


  {% endblock page %}
