{% extends "base.html" %}

{% block title %}
  <title>Sessions </title>
{% endblock title %}

{% block page %}
      <div class="content">
        <h2>Project Review Sessions</h2>
        <table>
          <thead>
            <tr>
                <th class="{{ 'sort-header' if col==1 else '' }}"><a class="a-sortup" href="{{ url_for('sort', col=1, order='u') }}">&#8639;</a>Project Number<a class="a-sortdown" href="{{ url_for('sort', col=1, order=1) }}">&#8642;</a></th>
                <th class="{{ 'sort-header' if col==2 else '' }}"><a class="a-sortup" href="{{ url_for('sort', col=2, order='u') }}">&#8639;</a>Description<a class="a-sortdown" href="{{ url_for('sort', col=2, order=1) }}">&#8642;</a></th>
                <th class="{{ 'sort-header' if col==3 else '' }}"><a class="a-sortup" href="{{ url_for('sort', col=3, order='u') }}">&#8639;</a>Size<a class="a-sortdown" href="{{ url_for('sort', col=3, order=1) }}">&#8642;</a></th>
                <th class="{{ 'sort-header' if col==4 else '' }}"><a class="a-sortup" href="{{ url_for('sort', col=4, order='u') }}">&#8639;</a>Modification Date<a class="a-sortdown" href="{{ url_for('sort', col=4, order=1) }}">&#8642;</a></th>
                <th></th>
            </tr>
          </thead>
          <tbody>

            {% for item in items %}
                {% if item.is_folder() %}
                    <tr>
                        <td>
                            <div class="dropdown">
                              <button class="dropbtn">{{ item.name }} &#9660;</button>

                              <div class="dropdown-content">
                                  <table>

                                      <tbody>

                                        {% for child in item.children %}
                                        <tr>
                                            <td>{{ child.name }} </td>
                                            <td>{{ child.desc }} </td>
                                            <td>{{ child.size }} MB </td>
                                            <td>{{ child.mtime_str }}</td>
                                            <td><a href="/static/reviews/{{ child.full_name }}" download> <img class="inline-img" id="dl-img" src="../static/images/download.png"></a></td>
                                        </tr>
                                        {% endfor %}

                                      </tbody>
                                    </table>
                              </div>
                            </div>
                         </td>
                        <td>{{ item.desc }}</td>
                        <td>{{ item.size }} MB</td>
                        <td>{{ item.mtime_str }}</td>
                        <td><img id="folder-img" src="../static/images/folder.png"></td>

                    </tr>

                {% else %}
                    <tr>
                        <td><a href="/static/reviews/{{ item.full_name }}" download> {{ item.name }}</a></td>
                        <td>{{ item.desc }} </td>
                        <td>{{ item.size }} MB </td>
                        <td>{{ item.mtime_str }}</td>
                        <td><a href="/static/reviews/{{ item.full_name }}" download> <img id="dl-img" src="../static/images/download.png"></a></td>
                    </tr>

                {% endif %}
            {% endfor %}

          </tbody>
        </table>
    </div>

{% endblock page %}