{% extends "base.html" %}

{% block title %}
  <title>Network Locations </title>
{% endblock title %}

  {% block page %}

      <div class="content">
        <h2>Network Locations</h2>
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Location</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="td-secondary">Piping Library</td>
              <td class="td-secondary"><a href="file://ntserver2/0000/gen/Piping Library">\\ntserver2\0000\gen\Piping Library</a></td>
            </tr>

            <tr>
              <td class="td-secondary">Piping Scan</td>
              <td class="td-secondary"><a href="file://scan-host-01/scan-piping-01">\\scan-host-01\scan-piping-01</a></td>
            </tr>

            <tr>
              <td class="td-secondary">Iso Control</td>
              <td class="td-secondary"><a href="file://pd-file-srv-01/Client_share/SSDApps">\\pd-file-srv-01\Client_share\SSDApps\</a></td>
            </tr>

            <tr>
              <td class="td-secondary">Supports MS</td>
              <td class="td-secondary"><a href="file://pd-file-srv-01/Client_share/SSDApps">\\pd-file-srv-01\Client_share\SSDApps\</a></td>
            </tr>

            <tr>
              <td class="td-secondary">BOQ Generator Dia. Inch</td>
              <td class="td-secondary"><a href="file://pd-file-srv-01/Client_share/SSDApps/BOQGenDiaInch">\\pd-file-srv-01\Client_share\SSDApps\BOQGenDiaInch</a></td>
            </tr>

            <tr>
              <td class="td-secondary">Eq Spacer</td>
              <td class="td-secondary"><a href="file://pd-file-srv-01/Client_share/SSDApps/EqSpacer">\\pd-file-srv-01\Client_share\SSDApps\EqSpacer</a></td>
            </tr>

            <tr>
              <td class="td-secondary">Tracing Calculator</td>
              <td class="td-secondary"><a href="file://pd-file-srv-01/Client_share/SSDApps/TracingCalculator">\\pd-file-srv-01\Client_share\SSDApps\TracingCalculator</a></td>
            </tr>

            <tr>
              <td class="td-secondary">MHrs Estimator</td>
              <td class="td-secondary"><a href="file://pd-file-srv-01/Client_share/SSDApps/MHrsEstimator">\\pd-file-srv-01\Client_share\SSDApps\MHrsEstimator</a></td>
            </tr>


          </tbody>
        </table>
      </div>


  {% endblock page %}
